html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#particle-canvas {
    width: 100%;
    height: 100%;
}

#name {
    font-size: 30px;
    font-family: "Lobster", cursive;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    height: 50px;
    color: white;
    z-index: 999;
}

#skip {
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    height: 100px;
    color: white;
    z-index: 999;
    cursor: pointer;
}

.developer {
    font-size: 30px;
    font-family: "Lobster", cursive;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    height: 50px;
    color: white;
    z-index: 999;
}

.start {
    font-size: 30px;
    font-family: "Lobster", cursive;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    height: 50px;
    color: white;
    z-index: 999;
    cursor: pointer;
}

.hide {
    opacity: 0;
}

.clear-display {
    display: none;
}

.openning {
    transition: 1s;
    font-family: 'Raleway', sans-serif;
}