.timeline {
    background-color: #191a1c;
}

.timeline:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/about-iam-me2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.timeline-item-wrapper {
    margin: 100px 0 100px;
    text-align: 0 auto;
    font-weight: 100;
    line-height: 1;
}

.timeline-item {
    padding: 30px 10px 30px;
    opacity: .1;
    transition: .5s;
}

.timeline-item.highlight {
    opacity: 1;

}

.timeline-item-year {
    font-size: 3.5em;
    margin-bottom: 50px;
}

.timeline-item-icon {
    font-size: 50px;
    margin-bottom: 50px;
}


.timeline-item-text {
    font-size: 1.5em;
    letter-spacing: -.05em;
    white-space: nowrap;
}