header {
    #header-text {
        width: 55%;
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;

        @include mq('small-screen-3') {
            width: 90%;
        }

        &-menu,
        &-hollysmall,
        &-membership,
        &-hollysnews,
        &-store,
        &-hollysis {
            padding: 30px;
            font-size: 20px;
            font-weight: 700;
            opacity: 0.7;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            @include mq('small-screen-3') {
                padding: 15px;
                font-size: 15px;
                font-weight: 500;
                opacity: 0.5;
            }

            span {
                text-align: center;
                font-size: 13px;
                padding-top: 0.8rem;
                color: $color-grey-dark;
                opacity: 0;

                @include mq('small-screen-3') {
                    font-size: 10px;
                }
            }

            &:hover {
                background-color: $color-red-light;


                span {
                    animation-name: fadein;
                    animation: fadein 1s;
                }
            }
        }
    }

    #mainBanner img {
        width: 1680px;
        cursor: pointer;

        @include mq('small-screen-1') {
            width: 1200px;
        }

        @include mq('small-screen-2') {
            width: 899px;
        }

        @include mq('small-screen-3') {
            width: 600px;
        }
    }
}